<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ theme_url }}/../shared/img/vinyl.png">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />

</head>
<!-- "Widescreen-mode" can be activated in portfolio/config/config.yml -->
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
    <div class="header" role="banner">
        <div class="container">
            <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
                <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
                <span class="sr-only">Toggle Menu</span>
            </a>
            {% if pages["_meta"].meta.logo %}
                <div class="logo">
                    <a href="{{ "index"|link }}" aria-label="Home">
                        <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt="" />
                    </a>
                </div>
            {% endif %}
            <div class="nav">
                <div id="nav" role="navigation" tabindex="-1">
                    <ul>
                        {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active"{% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
                <a href="{{ "index"|link }}" aria-label="Home">
                    <h1>{{ site_title }}</h1>
                </div>
                    {{ pages["_meta"].meta.tagline|markdown }}
                </a>
        </div>
    </div>
    </div>
    <div class="main" role="main">
        <div class="container">
                {{ content }}
                    <div class="outer-wrap outer-wrap-footer2">
                    <strong><h1>Follow me:</h1>
                        <a href="https://www.facebook.com/notes/457046498192270/" class="fab fa-facebook" style="margin-right: 5px;"></i>Facebook</a>
                        <a href="https://www.instagram.com/stajeofficial/" class="fab fa-instagram" style="margin-right: 5px;"></i>Instagram</a>
                        <a href="#" class="fab fa-twitter" style="margin-right: 5px;"></i>Twitter</a>
                        </strong>
                    </div>
              </div>
        </div>
    </div>
        <div class="outer-wrap outer-wrap-footer" role="">
            <i class="fab fa-spotify" style="margin-right: 5px;" color="red"></i> Spotify
            <br><a href="#">Click here</a> to listen my music on Spotify.<br>
            <i class="fab fa-deezer" style="margin-right: 5px;"></i> Deezer
            <br><a href="#">Click here</a> to listen my music on Deezer.<br>
            <i class="fab fa-youtube" style="margin-right: 5px;"></i> YouTube Music
            <br><a href="#">Click here</a> to listen my music on YouTube Music.<br>
            <div class="block site-footer">
                <br>
                <br>
                <br>
                <div class="footer-copyright">
                    Copyright Art Ist 2020
                </div>
            </div>
</div>
</body>
</html>
